.block {
    min-width: 200px;
    min-height: 230px;
    border: 3px solid black;
    border-radius : 5px;
    padding: 20px;
    margin: 10pt;
    font: 20px 'Lobster Two';
}

form label {
    display: inline-block;
    min-width: 130pt;
}

form {
    margin: 5pt;
    padding: 2pt;
}

.block > div {
    margin: 5pt;
}

form > div {
    margin: 2pt;
}

.get-save-buttons {
    display: flex;
    flex-direction: row;
}

.page-container {
    display: flex;
    flex-flow: column wrap;
}
.header {
    align-self: stretch;
    order: 1;
}
.content-container {
    display: flex;
    flex-flow: row nowrap;
    order: 2;
}
.footer {
    align-self: center;
    order: 3;
}


.content-left {
    flex-grow: 1;
    flex-basis: 20%;
    order: 1;
}

.content-center {
    flex-grow: 3;
    flex-basis: 60%;
    order: 2;
}

.content-right {
    flex-grow: 1;
    flex-basis: 20%;
    order: 3;
}


.config-page {
    display: none;
    z-index : 1;
}


* {
    margin: 0;
    padding: 0;
}


.modal-backgroud {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.modal-window {
    display:flex;
    flex-direction:column;
    background: #ffffff;
    width: 40%;
    border-radius: 5px;
    margin: 5% auto;
    border: 1px solid black;
}

.close {
    display: flex;
    justify-content:flex-end;
    font-size: 30px;
    margin: 0 5px 0 0;
}

    .close:hover {
        cursor: pointer;
        color: #ff0000;
    }


input {
    width: 49.5%;
    height: 30px;
    border-radius: 5px;
}

.modal-input {
    margin: 0 25% 5% 25%;
}


.submit-btn {
    display: block;
    margin: 0 auto 10%;
    width: 50%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #007bff;
    border: 1px solid #007bff;
}

    .submit-btn:hover {
        color: #ffffff;
        background-color: #007bff;
    }

.modal-title {
    margin: 10% 0;
    text-align: center;
    position: relative;
    font: bold 35px 'Lobster Two',Verdana,Arial;
}

.header-auth {
    top: 0;
    left: 0;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    background-color: #222222;
    width: 100%;
    height: 50px;
}

.btn-log-reg {
    width: 80px;
    height: 30px;
    margin: 10px;
    border: 1px #ffffff solid;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
}

    .btn-log-reg:hover {
        background-color: #ffffff;
        border-color: #007bff;
        color: #007bff;
    }
.greeting{
    text-align:center;
    margin:10% auto;
}
.config-title {
    text-align: center;
    margin: 0 auto;
    font: bold 40px 'Lobster Two';
}
.welcome {
    font: bold 40px 'Lobster Two';
}

.config-submit {
    display: block;
    margin: 0 auto;
    width: 45%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #007bff;
    border: 1px solid #007bff;
}
.config-submit:hover {
    color: #ffffff;
    background-color: #007bff;
}
.config-label-random {
    width: 49.5%;
    margin-left:10px;
}