body {
    background-color: #fafafa;
}

.block {
    min-width: 200px;
    min-height: 230px;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-family: "Segoe UI";
}

form {
    margin: 5px;
    padding: 2px;
}

.block > div {
    margin: 5px;
}

form > div {
    margin: 2px;
}

.form-left {
    display: inline-block;
    min-width: 200px;
    margin-right: 100px;
}

.btn {
    background-color: #87CEFA;
    border: none;
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    font-family: "Segoe UI";
    font-size: 16px;
}

.modal-input {
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 10px 0;
    font-family: "Segoe UI";
    font-size: 16px;
}

    .modal-input:focus {
        background-color: lightblue;
    }

.submit-btn {
    width: 70%;
    margin: 15px auto;
}

    .hoverable-btn:hover {
        cursor: pointer;
        color: #ffffff;
        background-color: #1E90FF;
    }

.welcome {
    font: bold 72px 'Lobster Two';
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.config-label-random {
    width: 49.5%;
    margin-left: 10px;
}

.error-message {
    text-align: center;
    margin: 5px auto;
    font: bold 18px 'Segoe UI';
}

.config-form-group {
    margin: 10px 30px;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.btn-log-reg {
    width: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.first {
    margin-right: 20px;
}

.footer-text {
    font: 28px 'Lobster Two';
}

