<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=DESKTOP-2J18FL2\SQLEXPRESS;Initial Catalog=ISD;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
