<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="InstaBotPrototype.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=DESKTOP-2J18FL2\SQLEXPRESS;Initial Catalog=ISD;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <InstaBotPrototype.Properties.Settings>
      <setting name="MicrosoftSubscriptionKey" serializeAs="String">
        <value>9130b53bc6c846979760aed320a58e6b</value>
      </setting>
      <setting name="MicrosoftUriBase" serializeAs="String">
        <value>https://westcentralus.api.cognitive.microsoft.com/vision/v1.0/analyze</value>
      </setting>
    </InstaBotPrototype.Properties.Settings>
  </applicationSettings>
</configuration>
