<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="InstaBotPrototype.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=.;Initial Catalog=ISD;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Localhost" value="http://localhost:58687"/>
    <add key="TelegramBotUrl" value="https://t.me/IntelliGramBot"/>
    <add key="InstagramRedirectUrl" value="https://www.instagram.com/?hl=en"/>
  </appSettings>
  <applicationSettings>
    <InstaBotPrototype.Properties.Settings>
      <setting name="MicrosoftSubscriptionKey" serializeAs="String">
        <value>9130b53bc6c846979760aed320a58e6b</value>
      </setting>
      <setting name="MicrosoftUriBase" serializeAs="String">
        <value>https://westcentralus.api.cognitive.microsoft.com/vision/v1.0/analyze</value>
      </setting>
      <setting name="InstagramClientId" serializeAs="String">
        <value>937fa7572cb244e9885382f8cedba3c8</value>
      </setting>
      <setting name="InstagramStandartToken" serializeAs="String">
        <value>5543216871.937fa75.4bf238c6f78b459bb7d92c0f5716cf85</value>
      </setting>
      <setting name="MicrosoftImageRecognizerSubscriptionKey" serializeAs="String">
        <value>861b894f16b942fd83adacbe78f563d1</value>
      <setting name="Pepper" serializeAs="String">
        <value>tsTdk2u/MXKGprcG+cDY0zHI1B0AjsIKr8cahHlmJxM=</value>
      </setting>
    </InstaBotPrototype.Properties.Settings>
  </applicationSettings>
</configuration>