@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Instagram Bot settings</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
</head>
<body>
    <div id="authPage">
        <div class="auth-header">
            <button id="btnSignup" class="btn-log-reg">Sign Up</button>
            <button id="btnLogin" class="btn-log-reg">Log in</button>
        </div>
        <p class="greeting">
            <span class="welcome">Welcome to the IntelliGram service</span>
        </p>
        <div class="modal-backgroud" id="loginPopup">
            <form action="/api/Authentication/Login" class="modal-window" id="modalLogin" method="post">
                <span class="close" id="closeLogin">&times</span>
                <p class="modal-title">IntelliGram</p>
                <input class="modal-input" id="Login" name="Login" placeholder="Login....." required type="text" value="" />
                <input class="modal-input" id="Password" name="Password" placeholder="Password......" required type="password" value="" />
                <div class="error-message" id="loginError"></div>
                <input class="submit-btn" type="submit" value="Login">
            </form>
        </div>

        <div class="modal-backgroud" id="signupPopup">
            <form action="/api/Authentication/Register" class="modal-window" id="modalSignup" method="post">
                <span class="close" id="closeSignUp">&times</span>
                <p class="modal-title">IntelliGram</p>
                <input class="modal-input" type="text" placeholder="Enter your login" name="Login" required /><br />
                <input class="modal-input" type="password" placeholder="Enter your password" name="Password" required />
                <input class="modal-input" type="password" placeholder="Confirm your password" required />
                <input class="modal-input" type="email" placeholder="Enter your email" name="Email" required />
                <div class="error-message" id="signUpError"></div>
                <input class="submit-btn" type="submit" value="Sign Up" />
            </form>
        </div>
    </div>

    <div class="page-container" id="configPage">
        <div class="header"><h1>Instagram bot admin page</h1></div>
        <div class="content-container">
            <div class="content-left"></div>

            <div class="content-center">
                <div class="block">
                    <form id="configForm">
                        <div class="config-form-group">
                            <a class="form-left" href="https://t.me/IntelliGram">Go to the telegram bot</a><label id="verifyKeyLabel" />
                        </div>
                        <div class="config-form-group">
                            <a class="form-left" href="https://api.instagram.com/oauth/authorize?client_id=937fa7572cb244e9885382f8cedba3c8&redirect_uri=http://localhost:58687/api/Instagram&scope=basic+public_content+comments+follower_list&response_type=token">Go to the instagram</a>
                        </div>
                        <div class="config-form-group">
                            <label class="form-left">tags</label><input class="submit-input" name="tags" type="text" value="" placeholder="kittens, cats" />
                        </div>
                        <div class="config-form-group">
                            <label class="form-left">topics</label><input class="submit-input" name="topics" type="text" value="" placeholder="kittens, cats" />
                        </div>
                        <div class="get-save-buttons">
                            <button id="saveConfig" class="config-submit">Save configuration</button>
                            <button id="logOut" class="config-submit">Log out</button>
                        </div>
                        <div id="ajaxResult"></div>
                    </form>
                </div>
                <div class="block">
                    <h3>Statistics</h3>
                    <div>Processed <span id="processed_posts">1012</span> posts</div>
                    <div>Matched 21 photos</div>
                    <div>Matched tags: 12</div>
                    <div>Matched topics: 9</div>
                </div>
            </div>
            <div class="content-right"></div>
        </div>
        <div class="footer">© 2017 IntelliGram-D</div>
    </div>



    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
    <script src="~/js/cookie.js"></script>
    <script src="~/js/authentication.js" type="text/javascript"></script>
    </body>
</html>