<!DOCTYPE html>

<html>
<head>
    <title>Instagram Bot settings</title>
    <link rel="stylesheet" type="text/css" href="~/css/layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/tags.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
</head>
<body>

    <div id="page" class="page-container">
        <div class="header menubar">
            <span class="welcome">IntelliGram</span><img src="~/bot.png">
            <div class="header-button-group"><button class="ig-button ig-button-regular small" id="btnLogin">Sign in</button><button class="ig-button ig-button-regular small left" id="btnSignup">Sign up</button><button class="ig-button ig-button-regular small hidden" id="logOut">Log out</button></div>
        </div>
        <div class="content-container">
            <div class="content-left"></div>
            <div class="content-center">
                <div class="modal hidden" id="authPage">
                    <div class="block modal-block">
                        <div id="signIn" class="hidden">
                            <form action="/api/Authentication/Login" id="modalLogin" method="post" class="modal-container">
                                <div class="modal-header">
                                    <span>Sign In</span>
                                </div>
                                <span class="large">Login</span>
                                <input class="ig-input large" id="Login" name="Login" required type="text" value="" autocomplete="off" />
                                <span class="large">Password</span>
                                <input class="ig-input large last-input" id="Password" name="Password" required type="password" autocomplete="off" value="" />
                                <div id="loginError"></div>
                                <input class="ig-button large ig-button-submit" type="submit" value="Submit">
                                <input id="signInCancel" class="ig-button ig-button-regular large" type="submit" value="Cancel">
                            </form>
                        </div>
                        <div id="signUp" class="hidden">
                            <form action="/api/Authentication/Register" id="modalSignup" method="post" class="modal-container">
                                <div class="modal-header">
                                    <span>Sign Up</span>
                                </div>
                                <span class="large">Login</span>
                                <input class="ig-input large" type="text" name="Login" required />
                                <span class="large">Password</span>
                                <input class="ig-input large" id="password" type="password" name="Password" required />
                                <span class="large">Confirm</span>
                                <input class="ig-input large" id="confirm" type="password" required />
                                <span class="large">E-mail</span>
                                <input class="ig-input large last-input" type="email" name="Email" required />
                                <div id="signUpError"></div>
                                <input class="ig-button large ig-button-submit" type="submit" value="Submit" />
                                <input id="signUpCancel" class="ig-button ig-button-regular large" type="submit" value="Cancel">
                            </form>
                        </div>
                    </div>
                </div>
                <div id="configPage" class="hidden">
                    <div class="block">
                        <form id="configForm">
                            <div class="config-form-group">
                                <a class="form-left" href="https://t.me/IntelliGramBot">Go to the telegram bot</a><label id="verifyKeyLabel" />
                            </div>
                            <div class="config-form-group">
                                <a class="form-left" href="api/Instagram/Verify">Go to the instagram</a>
                            </div>
                            <div class="config-form-group">
                                <span>Tags</span>
                                <div class="wrapper">
                                    <div class="selected" id="selectedTags"><input class="hidden-input" type="text" id="tagInput" autocomplete="off"></div>
                                </div>
                                <ul class="list" id="tagList">
                                    <li class="tagComplete"></li>
                                    <li class="tagComplete"></li>
                                    <li class="tagComplete"></li>
                                </ul>
                            </div>
                            <div class="config-form-group">
                                <span>Topics</span>
                                <div class="wrapper">
                                    <div class="selected" id="selectedTopics"><input class="hidden-input" type="text" id="topicInput" autocomplete="off"></div>
                                </div>
                                <ul class="list" id="topicList">
                                    <li class="topicComplete"></li>
                                    <li class="topicComplete"></li>
                                    <li class="topicComplete"></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="block">
                        <div style="margin-left: 30px; margin-top: 0;margin-bottom:20px;">
                            <h3>Statistics</h3>
                            <div>Matched 21 photos</div>
                            <div>Matched tags: 12</div>
                            <div class="">Matched topics: 9</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-right"></div>
        </div>
        <div class="footer">© 2018 IntelliGram-D</div>
    </div>



    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
    <script src="~/js/cookie.js"></script>
    <script src="~/js/authentication.js" type="text/javascript"></script>
</body>
</html>